<ion-modal-view>
	   <ion-header-bar class="bar bar-header bar-light">
    <div class="row header-stop">
      <div class="col col-return">
        <button class="button icon-left ion-chevron-left button-clear button-dark" ng-click="closeModal(2)">Paradas</button>
      </div>
      <div class="col">
        <h1 class="title">Ruta</h1>
      </div>
      <div class="col col-favorite">
        <button class="button icon-left ion-star button-positive" ng-click="addFavorites(currentItem)"></button>
      </div>
    </div>    
    </ion-header-bar>
    <ion-content class="padding">
       	<div class="row">
       		<div class="col">
    			<p class="headDetallesRutas" ng-show="sentido1">Hacia :{{currentItem.items[0].sentido1}}</p>
    			<p class="headDetallesRutas" ng-show="sentido2">Hacia :{{currentItem.items[0].sentido2}}</p>
    		</div>
    	</div>
    	
    	<div class="row">
    		<div class="col">
    			<!-- <div class="card">
    			  <div id="map"></div>
    			</div> -->
    		</div>
    	</div>
    	<div class="row">
    		<div class="col">
    			<h3>Horarios</h3>
    		</div>
    	</div>


    	<div class="row header">
    		<div class="col" id="headCol">Dias</div>
    		<div class="col" id="headCol">Horario</div>
    	</div>
    	<div class="row">
    		<div class="col" id="detail">Lunes - Viernes</div>
    		<div class="col" id="detail">{{currentItem.horaLV}}</div>
    	</div>
    	<div class="row">
    		<div class="col" id="detail">Sabado</div>
    		<div class="col" id="detail">{{currentItem.horaS}}</div>
    	</div>
    	<div class="row">
    		<div class="col" id="detail">Domingo y Feriados</div>
    		<div class="col" id="detail">{{currentItem.horaDF}}</div>
    	</div>

    	<div class="row">
    		<div class="col">
    			<h3>Intervalos de Llegada</h3>
    		</div>
    	</div>

    	<div class="row header">
    		<div class="col" id="headCol">Dias</div>
    		<div class="col" id="headCol">Intervalos</div>
    	</div>
    	<div class="row">
    		<div class="col" id="detail">Lunes - Viernes</div>
    		<div class="col" id="detail">{{currentItem.interLVP}}</div>
    	</div>
    	<div class="row">
    		<div class="col" id="detail">Sabado</div>
    		<div class="col" id="detail">{{currentItem.interSP}}</div>
    	</div>
    	<div class="row">
    		<div class="col" id="detail">Domingo y Feriados</div>
    		<div class="col" id="detail">{{currentItem.interDFN}}</div>
    	</div>


    	<div class="row">
    		<div class="col">
    			<h3>Sitios de Interes</h3>
    		</div>
    	</div>

    	<div class="row">
    		<div class="col">
    			<div class="list">
    			    <a class="item item-avatar" href="#">
    			      <img ng-src="http://www.riocentroshopping.com/assets/img/upload/big/308541cc1641488ae6e0b14c4135b1a8.jpg">
    			      <h2>Banco del Pichincha</h2>
    			      <p>Bancos</p>
    			    </a>
    			    <a class="item item-avatar" href="#">
    			      <img ng-src="http://fotos.lahora.com.ec/cache/6/6f/6f7/6f74/realidad--los-estudiantes-de-la-universidad-central-del-ecuador-iniciaron-clases-el-pasado-5-de-septiembre--20110918044753-6f74ea077ed708caeab9acee0fe76907.jpg">
    			      <h2>Universidad Central</h2>
    			      <p>Universidades</p>
    			    </a>
    			</div>
    		</div>
    	</div>

        <div class="row">
            <div class="col">
                <h3>Observaciones</h3>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="item item-text-wrap">
                    <p>{{currentItem.Observaciones}}</p>
                </div>
            </div>
        </div>

    </ion-content>

</ion-modal-view>