<ion-view view-title="Opciones" hide-nav-bar="true">
	<div class="bar bar-header bar-energized">
	  <h1 class="title">TRANSAPP</h1>
	</div>
	<ion-content class="padding options-template">

		<div class="list card">

		  <div class="item item-image more-image">
		      <img src="img/bus.jpg">
		    </div>


		  <a class="item item-icon-left" ng-click="openModal(3)">
		    <i class="icon ion-star"></i>
		    Favoritos
		  </a>

		  <a class="item item-icon-left">
		    <i class="icon ion-help"></i>
		    Tutorial
		  </a>

		  <a class="item item-icon-left" ng-click="openModal(1)">
		    <i class="icon ion-android-bus"></i>
		    TRANSPLANETA S.A
		  </a>

		  <a class="item item-icon-left" ng-click="openModal(2)">
		    <i class="icon ion-ios-information"></i>
		   	About TransAPP.
		  </a>

		</div>

	</ion-content>
</ion-view>
