<ion-view view-title="Opciones">
	<div class="bar bar-header bar-energized">
	  <h1 class="title">TRANSAPP</h1>
	</div>
	<ion-content class="padding">

		<div class="list card">

		  <div class="item item-image">
		      <img src="img/bus.jpg">
		    </div>


		  <a href="#" class="item item-icon-left">
		    <i class="icon ion-star"></i>
		    Favoritos
		  </a>

		  <a href="#" class="item item-icon-left">
		    <i class="icon ion-help"></i>
		    Tutorial
		  </a>

		  <a href="#" class="item item-icon-left">
		    <i class="icon ion-android-bus"></i>
		    TRANSPLANETA S.A
		  </a>

		  <a href="#" class="item item-icon-left">
		    <i class="icon ion-person"></i>
		   	Equipo de desarrollo
		  </a>

		</div>
	
	</ion-content>
</ion-view> 